# Recap

In [16]:
import pandas as pd

df = pd.read_csv("cars_recap.csv")

df.head()

,aspiration,enginelocation,carwidth,curbweight,enginetype,cylindernumber,stroke,peakrpm,price
0,std,front,64.10000,2548.0,dohc,four,2.68,5000.0,expensive
1,std,front,64.10000,2548.0,dohc,four,2.68,5000.0,expensive
2,std,front,65.50000,2823.0,ohcv,six,3.47,5000.0,expensive
3,std,front,65.88794,2337.0,ohc,four,3.40,5500.0,expensive
4,std,front,66.40000,2824.0,ohc,five,3.40,5500.0,expensive

## Encoding

ðŸ‘‡ Encode the categorical features with pandas' `get_dummies` function. Select the categorical features by their type, rather than by their name.

[`get_dummies` documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html)

ðŸ‘‡ Encode the target

## Cook's Distance

ðŸ‘‡ Use the Cook Distance outlier detection tool ([documentation](https://www.scikit-yb.org/en/latest/api/regressor/influence.html)) to visualize outlier observations in your dataset.

ðŸ‘‡ Which observation is the most different from the rest of the dataset?

ðŸ‘‡ Filter out the observations that are above the outlier threshold

## Oversampling without leakage

ðŸ‘‡ Split the data into train and test sets, and check the class balance of the training set.

In [46]:
df.head()

,aspiration,enginelocation,carwidth,curbweight,enginetype,cylindernumber,stroke,peakrpm,price,cooks_distance
0,std,front,64.10000,2548.0,dohc,four,2.68,5000.0,expensive,0.010034
1,std,front,64.10000,2548.0,dohc,four,2.68,5000.0,expensive,0.010034
2,std,front,65.50000,2823.0,ohcv,six,3.47,5000.0,expensive,0.009059
3,std,front,65.88794,2337.0,ohc,four,3.40,5500.0,expensive,0.001547
4,std,front,66.40000,2824.0,ohc,five,3.40,5500.0,expensive,0.008242

ðŸ‘‡ Use the SMOTE algorithm to oversample and balance the training set.

[SMOTE documentation](https://imbalanced-learn.readthedocs.io/en/stable/over_sampling.html)